.full {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-columns: 30% 70%;
}

.left { 
    background-color:olive;
}

.right {
    background-color: khaki;
}

#virsraksts { 
    padding-left: 20px;
}

.apaksvirsraksts {
    padding-left: 20px;
}

#aboutMe {
    padding-left: 40px;
    padding-right: 300px;
}

.eInfo {
    color: olive;
}
.leftHeading {
    color:khaki;
}

.rightHeading {
    color: olive;
}