.note {
    color:blue;
}
#pirmaisHeading {
    font-style: italic;
}
h3 {
    color:blueviolet;
    background-color: black;
}

.full { 
    border-style: groove;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-columns: 30% 70%;


    

}

.left {
background-color: rgb(122, 102, 11);

    
    
    

}

.right {
background-color: darkblue;

    
    
    

}